.sk-minitask {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 1em 0;
  background-color: white;
}

.sk-minitask-top-extra {
  text-align: right;
}

.sk-minitask-desc p {
  margin: 0;
  padding: 0 8px !important;
  white-space: pre-wrap;
}

.sk-minitask-footer-right {
  text-align: right;
}

.sk-minitask-priority {
  padding: 0 8px !important;
}

.sk-minitask .ant-btn {
  height: 28px;
}
