.sk-orgs-content {
  padding: 2em 0;
  height: 92%;
  box-sizing: border-box;
}

.sk-orgs-header {
  white-space: normal;
  height: 8%;
  padding: 1em;
}

.sk-orgs-group {
  height: 100%;
}

.sk-orgs-thumbnail {
  max-width: 280px;
  display: inline-block;
  margin: 1em;
}
