.sk-collaborators {
  height: 100%;
}

.sk-collaborators-btns {
  height: 8%;
  padding: 1em;
}

.sk-collaborators-content {
  padding: 1em;
  overflow-x: auto;
  height: 92%;
  box-sizing: border-box;
  overflow-y: auto;
}
