@import "~antd/dist/antd.less";

@font-family: -apple-system, BlinkMacSystemFont, "Work Sans", "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// @font-family: -apple-system, BlinkMacSystemFont, "Karla", "Segoe UI", Roboto,
//     "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
//     "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@text-color: rgb(23, 43, 77);
@text-color-secondary: #7a869a;
// @font-size-base: 15px;
@border-radius-base: 5px;
@tag-border-radius: 12px;
