@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  font-weight: 500;
}

.ant-drawer-body {
  flex: 1;
  overflow: hidden !important;
  padding: 0 !important;
}

.ant-drawer-wrapper-body {
  display: flex;
  flex-direction: column;
}

.ant-btn .anticon {
  font-size: 16px;
}

.ant-form-item-label {
  padding: 0 !important;
  font-weight: bold;
}

.icon-btn.ant-btn {
  line-height: 16px;
  background-color: #e0e0e0;
  height: 30px;
  width: 32px;
  padding: 4px 8px;
  color: #3f3f44;
  border-radius: 50%;
  border: none;
}

.icon-btn svg {
  width: 15px;
  height: 15px;
}

.icon-btn.ant-btn[disabled] svg {
  color: rgba(0, 0, 0, 0.25);
}

.ant-tabs .anticon-ellipsis {
  font-size: 20px;
}

.ant-message-custom-content {
  display: inline-flex !important;
  align-items: center !important;
}

.ant-dropdown-menu {
  min-width: 100px;
}

.anticon {
  vertical-align: middle !important;
}

.ant-dropdown-menu-item-divider {
  margin: 0px !important;
}

.ant-tabs-nav {
  margin-bottom: 0px !important;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 2px solid rgb(223, 234, 240) !important;
}

.ant-divider {
  border-width: 2px;
}