html,
body,
#root {
  height: 100%;
  /* font-family: "Karla", sans-serif; */
  font-family: 'Work Sans', sans-serif;
}

/* body, */
.ant-input,
.ant-dropdown-menu-item {
  color: rgba(0, 0, 0, 0.85) !important;
}

*,
.ant-form-item-children {
  /* font-family: "Karla", sans-serif !important; */
  font-family: 'Work Sans', sans-serif;
}

.ant-drawer-body {
  flex: 1;
  overflow: hidden !important;
  padding: 0 !important;
}

.ant-drawer-wrapper-body {
  display: flex;
  flex-direction: column;
}

.ant-btn .anticon {
  font-size: 16px;
}

/* .ant-form-item label {
  font-weight: 600;
} */