.sk-root-group-content {
  padding: 1em;
  overflow-x: auto;
  white-space: nowrap;
  height: 92%;
  box-sizing: border-box;
  overflow-y: hidden;
}

.sk-root-group-header {
  white-space: normal;
  height: 8%;
  padding: 1em;
}

.sk-root-group {
  height: 100%;
}

.sk-root-group-thumbnail {
  margin: 1em 0;
}
